@using MyData.Models
@{
    ViewBag.Title = "Contact";
}
@model PersonalContact
<h3>@Model.Name</h3>

<address>
    @Model.WorkAddress<br />
    @Model.WorkPhone<br />
    @Model.MobilePhone
</address>

<address>
    <strong>Support:</strong>   <a href="@Model.Email">@Model.Email</a><br />
</address>